.card__title {
    grid-area: title;

    font-family: Roboto Slab, Georgia, "Times",	"Nimbus Roman No9 L", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    display: flex;

    padding: 0 24px 0 24px;

    background: #FFFFFF;
}