.preloader__spiner {
	display: block;
	width: 50px;
	height: 50px;
	border: 4px solid #aaa;
	border-bottom-color: #ddd;
	
	border-radius: 50%;
	
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto; */
	
	animation: spin .75s infinite linear;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}