.github__indicator {
    display: flex;
    
    justify-content: center;
    align-items: flex-end;

    grid-column: 2/4;
    grid-row: 5/6;
}

@media screen and (max-width: 570px) {

    .github__indicator {
        align-items: center;

        grid-column: 2/3;
        grid-row: 5/6;
    }
}