@import url(__pic/author__pic.css);
@import url(__title/author__title.css);
@import url(__text/author__text.css);

.author {
    display: grid;

    grid-template-columns: 104px 464px 56px 1fr 104px;
    grid-template-rows: 80px auto 1fr 80px;
}

@media screen and (max-width: 1440px) {
    
    .author {		
        grid-template-columns: 7vw minmax(232px, 464px) 3.8vw minmax(288px, 10000px) 7vw;
        grid-template-rows: 5vw auto 1fr 5vw;
    }
}

@media screen and (max-width: 610px) {

    .author {		
        grid-template-columns: 7vw 1fr 7vw;
        grid-template-rows: 6vw 1fr 16px auto auto 6vw;        
    }
}