@import url(./__head-date/histogram__head-date.css);
@import url(./__head-quantity/histogram__head-quantity.css);
@import url(./__scale/histogram__scale.css);
@import url(./__days-block/histogram__days-block.css);

.histogram {
    display:grid;

    grid-template-columns: 50px 54px auto;
    grid-template-rows: auto 44px auto 44px;
}

@media screen and (max-width: 450px) {
    .histogram {
		grid-template-columns: 50px 24px auto;
	}
}