.github__button {
    display: none;
}

.github__button:hover {
    opacity: .6;
}

@media screen and (max-width: 570px) {

    .github__button {
        display: block;
        
        grid-column: 2/3;
        grid-row: 7/8;

        justify-self: center;
    
        width: 288px;
        height: 56px;

        border: 1px solid #1A1B22;
        box-sizing: border-box;
        border-radius: 90px;

        background-color: transparent;
    }
}