.search__title {

    font-family: Roboto Slab, Georgia, "Times",	"Nimbus Roman No9 L", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;

    grid-row: 1/2;
    
}

@media screen and (max-width: 768px) {

    .search__title {		
        font-size: 36px;
        line-height: 40px;
    }
}