.search__button {
    font-family: Roboto, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: inherit;

    width: 168px;
    border-radius: 33px;
    border: none;
    background-color: #2F71E5;

    z-index: 10;

    grid-row: 3/4;
}

@media screen and (max-width: 1440px) {
    .search__button {
        width: calc(79px + 7vw);
    }
}

@media screen and (max-width: 460px) {
    .search__button {
        width: 100%;
        height: 56px;

        justify-self: center;
    }
}