.search__container {
    height: auto;

    color: white;

    display: grid;
        
    grid-template-columns: 100%;
    grid-template-rows: auto 2vw auto 3vw auto;
    
    max-width: 608px;
    min-width: 288px;
    
    align-self: center;
}