.digits__nav-item {
    font-family: Roboto, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    margin-right: 6px;

    list-style-type: none;
}

.digits__nav-item > .link {
    opacity: 1;
}

.digits__nav-item:last-of-type {
    margin-right: 0;
    opacity: .6;

}