@import url(./__title/github__title.css);
@import url(./__link/github__link.css);
@import url(./__cards-list/github__cards-list.css);
@import url(./__slider-button/github__slider-button.css);
@import url(./__git-open/github__git-open.css);
@import url(./__pagination/github__pagination.css);
@import url(./__gradient/github__gradient.css);

.github {
    display: grid;

    grid-template-columns: 104px 600px auto 104px;
    grid-template-rows: 80px auto 64px auto 80px;

    background: #F5F6F7;
}

@media screen and (max-width: 1440px) {

    .github {		
        grid-template-columns: 7vw 600px auto 7vw;
        grid-template-rows: 5vw auto 4vw auto 4vw;
    }
}

@media screen and (max-width: 950px) {

    .github {		
        grid-template-columns: 7vw minmax(250px, 410px) auto 7vw;        
    }
}

@media screen and (max-width: 610px) {

    .github {		
        grid-template-columns: 7vw auto 7vw;
        grid-template-rows: 5vw auto 4vw auto 2vw auto 4vw;
        
    }
}