@import url(./__header/digits__header.css);
@import url(./__in-titles/digits__in-titles.css);
@import url(./__per-week/digits__per-week.css);

.digits__block {
    grid-column: 2/4;
    grid-row: 6/7;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 560px) {

    .digits__block {
        grid-row: 7/8;
    }
}