@import url(./__pic/card__pic.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__link/card__link.css);

.card {
    display: grid;

    grid-template-areas:
    "pic"
    "date"
    "title"
    "text"
    "link";

    grid-template-rows: 272px 44px auto 1fr 54px;
    grid-template-columns: minmax(220px, 400px);

    background: #FFF;
    border-radius: 16px;

    color: inherit;
    text-decoration: none;

    overflow: hidden;
}