.card {
    display: grid;

    grid-template-areas:
    "pic"
    "date"
    "title"
    "text"
    "link";

    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;

    background: #FFFFFF;
    border-radius: 16px;
}