@import url(./__arrow/link__arrow.css);

.link {
    
    color: inherit;

    text-decoration: none;
    opacity: .6;

    

}

.link:visited {
    color: inherit;
}

.link:hover {
    color: inherit;
    opacity: 1;
  }

:link {
    color: inherit;
}