<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" type="image/svg+xml" sizes="32x32" href="<%= require('../images/favicon.png') %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.analitics.css %>">
</head>

<body>
  <div class="page">

    <header class="header">
      <h1 class="header__logo" alt="NewsAnalyzer">NewsAnalyzer</h1>
      <nav class="nav header__nav">
        <a class="nav__item link" href="./index.html">Главная</a>
        <a class="nav__item link" href="./about.html">О&nbsp;проекте</a>
      </nav>
    </header>

    <main class="content">
      <section class="digits">
        <nav class="digits__nav">
          <a class="digits__nav-item link" href="./index.html">Главная</a>
          <a class="digits__nav-item link" href="./analitics.html">/ Аналитика</a>
        </nav>
        <h2 class="digits__title">Вы&nbsp;просили:&nbsp;</h2>
        <span class="digits__request">&laquo;Бубылда - нацональный герой&raquo;</span>
        <div class="digits__block">
          <p class="digits__header">Новостей&nbsp;за&nbsp;неделю: <span class="digits__per-week">285</span></p>
          <p class="digits__header">Упоминаний&nbsp;в&nbsp;заголовках: <span class="digits__in-titles">49</span></p>
        </div>
      </section>

      <section class="graph">
        <h1 class="graph__title">Аналитика по дням</h1>
        <div class="graph__block">
          <div class="gisto">
            <p class="gisto__head-date">ДАТА (СЕНТЯБРЬ)</p>
            <p class="gisto__head-quantity">КОЛЛИЧЕСТВО УПОМИНАНИЙ</p>

            <div class="gisto__scale">
              <p class="gisto__mark">0</p>
              <p class="gisto__mark">25</p>
              <p class="gisto__mark">50</p>
              <p class="gisto__mark">75</p>
              <p class="gisto__mark">100</p>
            </div>
            
            
            <div class="gisto__days-block">
              <div class="gisto__day">           
                <time class="gisto__date">31, ср</time>
                <p class="gisto__quantity">25</p>
                <div class="gisto__line">
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                </div>
              </div>
              <div class="gisto__day">           
                <time class="gisto__date">32, чт</time>
                <p class="gisto__quantity">10</p>
                <div class="gisto__line">
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                  <div class="gisto__line-item"></div>
                </div>
              </div>
            </div>

            <div class="gisto__scale">
              <p class="gisto__mark">0</p>
              <p class="gisto__mark">25</p>
              <p class="gisto__mark">50</p>
              <p class="gisto__mark">75</p>
              <p class="gisto__mark">100</p>
            </div>            
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <p class="copyright footer__copyright">©&nbsp;2019&nbsp;Andrew</p>
      <nav class="nav footer__nav">
        <a class="nav__item link" href="index.html">Главная</a>
        <a class="nav__item link" href="about.html">О&nbsp;проекте</a>
        <a class="nav__item link" href="https://praktikum.yandex.ru/">Яндекс.Практикум</a>
      </nav>
      <div class="social footer__social">
        <a class="social__item" href="https://github.com/somedew/newsanalyzer"><img alt="github"
          type="image/svg+xml" src="<%=require('../images/github.svg')%>"></a>
        <a class="social__item" href="https://facebook.com"><img alt="facebook"
          type="image/svg+xml" src="<%=require('../images/fb3.svg')%>"></a>
      </div>
    </footer>

  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.analitics.entry %>"></script>

</body>

</html>