<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../images/favicon.png') %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="page page_main">

    <picture class="page__back">
      <source type="image/jpeg" media="(max-width: 720px)" srcset="<%= require('../images/titleback_720px.jpg') %>">
      <source type="image/jpeg" media="(max-width: 1024px)" srcset="<%= require('../images/titleback_1024px.jpg') %>">
      <img src="<%= require('../images/titleback_1440px.jpg') %>" alt="page background">
    </picture>

    <header class="header header_main-page">
      <h1 class="header__logo">NewsAnalyzer</h1>
      <nav class="nav header__nav">
        <ul>
          <li class="nav__item nav__item_select">
            <a class="link" href="./index.html">
              <div><span>Главная</span></div>
            </a>
          </li>
          <li class="nav__item">
            <a class="link" href="./about.html">
              <div><span>О&nbsp;проекте</span></div>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="search">
      <div class="search__container">
        <h2 class="search__title">Что в мире творится?</h2>
        <h3 class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях
          за прошедшую неделю.</h3>
        <form class="form search__form" action="submit" name="searchForm">
          <div class="search__input">
            <input type="text" class="input" name="searchInput" required="yes" minlength="2"
              placeholder="введите тему запроса">
          </div>
          <button class="button search__button" name="searchSubmit">Искать</button>
          <span class="error search__error"></span>
        </form>
      </div>
    </section>

    <main class="content">
      <section class="news news_disable">
        <h3 class="news__title">Результаты поиска</h3>
        <a class="news__link link" href="analitics.html">Посмотреть&nbsp;аналитику
          <img src="<%=require('../images/arrow.svg')%>" alt="open github" class="link__arrow">
        </a>
        <ul class="news__cards-list"></ul>
        <button class="news__button button">Показать&nbsp;больше</button>
      </section>
      <section class="author">
        <picture class="author__pic">
          <source type="image/jpeg" media="(max-width: 345px)" srcset="<%= require('../images/author_300px.jpg') %>">
          <source type="image/jpeg" media="(max-width: 610px)" srcset="<%= require('../images/author_512px.jpg') %>">
          <source type="image/jpeg" media="(max-width: 690px)" srcset="<%= require('../images/author_300px.jpg') %>">
          <img src="<%= require('../images/author_512px.jpg') %>" alt="site autors photo">
        </picture>
        <h3 class="author__title">Об&nbsp;авторе</h3>
        <p class="author__text"> Привет, меня зовут Андрей и этот сайт - мой первый полностью самостоятельный web
          проект.
          <br><br>
          Когда-то давно, когда школьные годы подходили к концу и нужно было определяться с будущей
          профессией, я колебался между новой, тогда еще мало кому понятной, профессией программиста и другими - более
          традиционными. Тогда, по многим причинам, выбор был сделан не в пользу программирования.
          <br><br>
          Так сложилось, что я всегда интересовался технологиями и среди друзей и знакомых имел репутацию "чувака, который шарит".
          Да и профессиональная деятельность моя часто была связана с программированием (в определенной степени). Увлекаясь 
          электроникой, в 2015 году я собрал и написал программу на 20 строк для небольшого устройства на базе контроллера Arduino. 
          Результат приводил меня в восторг...          
          <br><br>
          Именно такой восторг я испытываю теперь, написав с нуля этот поисковик новостей. Теперь я ищу интересные проекты, где 
          буду полезен и смогу все глубже погружаться в тему frontend и backend разработки. Если Вашей команде нужен увлеченный 
          фронтэндер, ищите меня в <a class="link" href="https://t.me/dewandrew">telegram</a>.
        </p>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__copyright copyright">
        <span class="copyright__author">©&nbsp;2019&nbsp;Andrew&nbsp;B.<br>
          <a class="copyright__powered link" href='https://newsapi.org/'
            target='_blank'>powered&nbsp;by&nbsp;NewsApi.org</a>
        </span>
      </div>
      <nav class="nav footer__nav">
        <ul>
          <li class="nav__item">
            <a class="link" href="index.html">
              <div><span>Главная</span></div>
            </a>
          </li>
          <li class="nav__item">
            <a class="link" href="about.html">
              <div><span>О&nbsp;проекте</span></div>
            </a>
          </li>
          <li class="nav__item">
            <a class="link" href="https://praktikum.yandex.ru/">
              <div><span>Яндекс.Практикум</span></div>
            </a>
          </li>
        </ul>
      </nav>
      <div class="social footer__social">
        <a class="social__item" href="https://github.com/somedew/newsanalyzer"><img alt="github"
            src="<%=require('../images/github.svg')%>"></a>
        <a class="social__item" href="https://facebook.com"><img alt="facebook"
            src="<%=require('../images/fb3.svg')%>"></a>
      </div>
    </footer>

  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>