<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../images/favicon.png') %>">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="page">

    <header class="header header_main-page">
      <p class="header__logo" alt="NewsAnalyzer">NewsAnalyzer</p>
      <nav class="nav header__nav">
        <a class="nav__item nav__item_select link" href="./index.html">Главная</a>
        <a class="nav__item link" href="./about.html">О проекте</a>
      </nav>
    </header>

    <search class="search">
      <div class="search__container">
        <h1 class="search__title">Что в мире творится?</h1>
        <h2 class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за
          прошедшую неделю.</h2>
        <form action="submit" class="form search__form">
          <div class="search__input">
            <input type="text" class="input" name="news-search" required="yes"
              placeholder="введите тему запроса">
          </div>
          <button class="button search__button">Искать</button>
          <span class="error search__error"></span>
        </form>
      </div>
    </search>

    <main class="content">
      <section class="results">
        <h3 class="results__title">Результаты поиска</h3>
        <a class="results__link link" href="analitics.html">Посмотреть аналитику ></a>
        <div class="results__block">

          <a class="card" href="">
            <img src="<%=require('../images/card-pic-default.jpg')%>" alt="" class="card__pic">
            <time class="card__date">29 февраля, 2020</time>
            <h4 class="card__title">Lorem ipsum dolor. Lorem ipsum dolor.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>



          <a class="card" href="">
            <img src="<%=require('../images/card-pic-default.jpg')%>" alt="default news image" class="card__pic">
            <time class="card__date">29 февраля, 2020</time>
            <h4 class="card__title">Similique.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img src="<%=require('../images/card-pic-default.jpg')%>" alt="" class="card__pic">
            <time class="card__date">29 февраля, 2020</time>
            <h4 class="card__title">Lorem ipsum dolor sit amet consectetur elit. Lorem ipsum dolor sit amet consectetur
              elit.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img src="<%=require('../images/card-pic-default.jpg')%>" alt="" class="card__pic">
            <time class="card__date">29 февраля, 2020</time>
            <h4 class="card__title">Lorem ipsum dolor.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img src="<%=require('../images/card-pic-default.jpg')%>" alt="" class="card__pic">
            <time class="card__date">29 февраля, 2020</time>
            <h4 class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>




        </div>
        <button class="results__button button">Показать больше</button>
      </section>
      <section class="author">
        <img class="author__pic" src="<%= require('../images/author_full.jpg') %>" alt="">
        <h3 class="author__title">Об авторе:</h3>
        <p class="author__text">Это блок с описаением автора проекта. Здесь следует указать, как вас зовут, чем вы
          занимаетесь, какими технологиями разработки владете.
          <br><br>
          Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
          потенциальным заказчикам.
          <br><br>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit dicta libero labore. Beatae excepturi commodi
          harum vitae distinctio qui, ipsum officia facilis deleniti illum architecto assumenda ducimus blanditiis id
          explicabo?</p>
      </section>
    </main>

    <footer class="footer">
      <p class="copyright footer__copyright">© 2019 Andrew</p>
      <nav class="nav footer__nav">
        <a class="nav__item link" href="index.html">Главная</a>
        <a class="nav__item link" href="about.html">О проекте</a>
        <a class="nav__item link" href="https://praktikum.yandex.ru/">Яндекс.Практикум</a>
      </nav>
      <div class="social">
        <a class="social__item" href="https://github.com/somedew/newsanalyzer"><img alt="github"
            src="<%=require('../images/github.svg')%>"></a>
        <a class="social__item" href="https://facebook.com"><img alt="facebook"
            src="<%=require('../images/fb3.svg')%>"></a>
      </div>
    </footer>

  </div>

  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>