<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('../images/favicon.png') %>">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="page page_main">

    <picture class="page__back">
      <source type="image/jpeg" media="(max-width: 720px)" srcset="<%= require('../images/titleback_720px.jpg') %>">
      <source type="image/jpeg" media="(max-width: 1024px)" srcset="<%= require('../images/titleback_1024px.jpg') %>">
      <img src="<%= require('../images/titleback_1440px.jpg') %>" alt="page background">
    </picture>

    <header class="header header_main-page">
      <h1 class="header__logo">NewsAnalyzer</h1>
      <nav class="nav header__nav">
        <ul>
          <li class="nav__item nav__item_select">
            <a class="link" href="./index.html">Главная</a>
          </li>
          <li class="nav__item">
            <a class="link" href="./about.html">О&nbsp;проекте</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="search">
      <div class="search__container">
        <h2 class="search__title">Что в мире творится?</h2>
        <h3 class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях
          за прошедшую неделю.</h3>
        <form class="form search__form" action="submit" name="searchForm">
          <div class="search__input">
            <input type="text" class="input" name="searchInput" required="yes" minlength="2" placeholder="введите тему запроса">
          </div>
          <button class="button search__button" name="searchSubmit">Искать</button>
          <span class="error search__error"></span>
        </form>
      </div>
    </section>

    <main class="content">
      <section class="preloader preloader_disable">
        <i class="preloader__spiner"></i>
        <h3 class="preloader__text">Идет поиск новостей...</h3>
      </section>
      <section class="notfound notfound_disable">
        <img class="notfound__img" src="<%=require('../images/notfound.svg')%>" alt="image results not found">
        <h3 class="notfound__title">Ничего не найдено</h3>
        <span class="notfound__text">Сообщение об<br>ошибке</span>
      </section>
      <section class="results">
        <h3 class="results__title">Результаты поиска</h3>
        <a class="results__link link" href="analitics.html">Посмотреть&nbsp;аналитику
          <img src="<%=require('../images/arrow.svg')%>" alt="open github" class="link__arrow">
        </a>
        <div class="results__block">

          <a class="card" href="">
            <img class="card__pic" src="<%=require('../images/card-pic-default.jpg')%>" alt="news photo">
            <time datetime="2020-02-01" class="card__date">01 февраля 2020</time>
            <h4 class="card__title">Lorem ipsum dolor. Lorem ipsum dolor.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>

          <a class="card" href="">
            <img class="card__pic" src="<%=require('../images/card-pic-default.jpg')%>" alt="news photo">
            <time datetime="2020-02-01" class="card__date">01 февраля 2020</time>
            <h4 class="card__title">Similique.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img class="card__pic" src="<%=require('../images/card-pic-default.jpg')%>" alt="news photo">
            <time datetime="2020-02-01" class="card__date">01 февраля 2020</time>
            <h4 class="card__title">«Ростех» попросил передать ему контроль за качеством воздуха</h4>
            <p class="card__text">Гендиректор «Ростеха» Сергей Чемезов предложил назначить госкорпорацию единственным исполнителем по созданию и эксплуатации госсистемы мониторинга качества воздуха в проекте «Чистый воздух». Об этом говорится в письме главы госкорпорации президенту Владимиру …</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img class="card__pic" src="<%=require('../images/card-pic-default.jpg')%>" alt="news photo">
            <time datetime="2020-02-01" class="card__date">01 февраля 2020</time>
            <h4 class="card__title">Lorem ipsum dolor.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          <a class="card" href="">
            <img class="card__pic" src="<%=require('../images/card-pic-default.jpg')%>" alt="news photo">
            <time datetime="2020-02-01" class="card__date">01 февраля 2020</time>
            <h4 class="card__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
            <p class="card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique id cupiditate velit
              tempora explicabo ipsum at, maiores quam ullam cum quis ipsa rem accusamus aliquid ad veniam ut iusto.
              Odio?</p>
            <span class="card__link">ЛЕНТА.РУ</span>
          </a>
          
        </div>
        <button class="results__button button">Показать&nbsp;больше</button>
      </section>
      <section class="author">
        <picture class="author__pic">
          <source type="image/jpeg" media="(max-width: 345px)" srcset="<%= require('../images/author_300px.jpg') %>">
          <source type="image/jpeg" media="(max-width: 610px)" srcset="<%= require('../images/author_512px.jpg') %>">
          <source type="image/jpeg" media="(max-width: 690px)" srcset="<%= require('../images/author_300px.jpg') %>">
          <img src="<%= require('../images/author_512px.jpg') %>" alt="site autors photo">
        </picture>
        <h3 class="author__title">Об&nbsp;авторе</h3>
        <p class="author__text">Это блок с описаением автора проекта. Здесь следует указать, как вас зовут, чем вы
          занимаетесь, какими технологиями разработки владете.
          <br><br>
          Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь
          потенциальным заказчикам.
          <br><br>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit dicta libero labore. Beatae excepturi
          commodi harum vitae distinctio qui, ipsum officia facilis deleniti illum architecto assumenda ducimus blanditiis id
          explicabo?</p>
      </section>
    </main>

    <footer class="footer">
      <p class="copyright footer__copyright">©&nbsp;2019&nbsp;Andrew</p>
      <nav class="nav footer__nav">
        <ul>
          <li class="nav__item">
            <a class="link" href="index.html">Главная</a>
          </li>
          <li class="nav__item">
            <a class="link" href="about.html">О&nbsp;проекте</a>
          </li>
          <li class="nav__item">
            <a class="link" href="https://praktikum.yandex.ru/">Яндекс.Практикум</a>
          </li>
        </ul>
      </nav>
      <div class="social footer__social">
        <a class="social__item" href="https://github.com/somedew/newsanalyzer"><img alt="github"
            src="<%=require('../images/github.svg')%>"></a>
        <a class="social__item" href="https://facebook.com"><img alt="facebook"
            src="<%=require('../images/fb3.svg')%>"></a>
      </div>
    </footer>

  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>