.github__pagination {
    grid-row: 2/3;

    width: 100%;
}

.github.github .github__pagination > .swiper-pagination-bullet {
    background-color: #000;
    opacity: .4;
}

@media screen and (max-width: 400px) {

    .github.github .github__pagination > .swiper-pagination-bullet {
        margin: 0 2px;
    }
}

.github.github .github__pagination > .swiper-pagination-bullet-active {
    opacity: 1;
}