@import url(./__card-date/news__card-date.css);
@import url(./__card-link/news__card-link.css);
@import url(./__card-pic/news__card-pic.css);
@import url(./__card-text/news__card-text.css);
@import url(./__card-title/news__card-title.css);

.news__card {
    display: grid;
    
    grid-template-columns: 1.7vw 1fr 1.7vw;
    grid-template-rows: 20vw 44px auto minmax(0, 1fr) 54px;

    background: #FFF;
    border-radius: 16px;

    color: inherit;
    text-decoration: none;

    overflow: hidden;

    max-height: 576px;
}

@media screen and (min-width: 1440px) {

    .news__card {		
        grid-template-rows: 272px 44px auto minmax(0, 1fr) 54px;
    }
}

@media screen and (max-width: 805px) {

    .news__card {		
        grid-template-rows: 30vw 44px auto minmax(0, 1fr) 48px;
    }
}

@media screen and (max-width: 495px) {

    .news__card {		
        grid-template-columns: 16px 1fr 16px;
        grid-template-rows: 60vw 44px auto minmax(0, 1fr) 48px;
    }
}