.news__card-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    font-family: Roboto Slab, Georgia, "Times",	"Nimbus Roman No9 L", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    display: flex;

    padding: 0;

    background: #FFFFFF;
}

@media screen and (max-width: 900px) {

    .card__title {		
        font-size: 22px;
        line-height: 24px;
    }
}