@import url(./__date/gisto__date.css);
@import url(./__quantity/gisto__quantity.css);
@import url(./__line/gisto__line.css);

.gisto__day {
    display: grid;

    grid-template-columns: 50px 54px auto;
}

@media screen and (max-width: 450px) {
    .gisto__day {
		grid-template-columns: 50px 24px auto;
	}
}