.news__card-text {
    grid-column: 2/3;
    grid-row: 4/5;
    
    font-family: Roboto, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 16px;
    line-height: 22px;

    padding-top: 16px;

    background: #FFFFFF;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}