.histogram__mark {
    font-family: Roboto, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 12px;    
    letter-spacing: 0.4px;    
    color: #B6BCBF;

    display: flex;
    width: 4px;
    justify-content: center;
}