<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" type="image/svg" sizes="16x16" href="<%= require('./images/favicon.svg') %>">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
  <div class="root">
    <header class="header root__section">
      <p class="header header__logo" alt="NewsAnalyzer">NewsAnalyzer</p>
      <nav class="header header__nav">

      </nav>
    </header>
    <content class="content root__section">

    </content>
    <footer class="footer root__section">

    </footer>
  </div>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>