<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="newsfeed on demand">
  <meta name="author" content="Andrew Bubnov">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./images/favicon.png') %>">
  <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="page">
  <header class="header header_white">
    <p class="header__logo" alt="NewsAnalyzer">NewsAnalyzer</p>
    <nav class="header__nav">
      <a href="./index.html" class="header__nav-item header__nav-item_select">Главная</a>
      <a href="./about.html" class="header__nav-item">О Проекте</a>
    </nav>
  </header>
  <content class="content page">

  </content>
  <footer class="footer page">

  </footer>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>