.github__cards-list {
    grid-column: 1/5;
    grid-row: 4/5;

    width: 150%;
    left: -25%;
}

@media screen and (max-width: 610px) {

    .github__cards-list {
        grid-column: 2/3;
        grid-row: 4/5;

        width: 100%;
        left: 0;
    }
}