.card__pic {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;    

    /*! justify-self: center; */
    
    height: 100%;

    object-fit: cover;
}