.results__block {
    grid-area: block;

    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));

    grid-gap: 16px;

    justify-self: center;
    width: 100%;
}